<!DOCTYPE html>
<html lang="es"> <!-- Idioma de la pagina-->
<head>
    <meta charset="UTF-8"> <!-- Metadato-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Metadato-->
    <title>Shoes For All</title> <!--Titulo de la pagina web-->
    <link rel="icon" type="image/x-icon" href="./favicon.ico"> <!--Favicon-->
    <link rel="stylesheet" href="../css/estilos.css"> <!-- Estilos CSS-->
</head>    
<body> <!--Estructura de la pagina-->
    <header> <!-- Cabecera-->
        <h1>Shoes For All</h1> <!--Nombre de la empresa-->
        <nav class="navigationbar"> <!--Barra de navegación-->
            <ul class="navigationbarlist"> <!--Lista desordenada -->
                <li>
                    <a class="enlace" href="../index.html">Inicio</a> <!--Enlace de inicio-->
                </li>
                <li>
                    <a class="enlace" href="./presupuestos.html">Presupuestos</a> <!--Enlace presupuestos-->
                </li>
                <Li>
                    <a class="enlace" href="./productos.html">Productos</a> <!--Enlace de productos-->
                </Li>
                <li>
                    <a class="enlace active" href="#">Contacto</a> <!--Enlace de contacto-->
                </li>
            </ul>
        </nav>
    </header>
    <main> <!--Pagina principal-->
        <section> <!--Sección principal-->
            <h2 class="h2contacto">Encuentranos en:</h2>
            <div class="mapa">
                <img src="../assets/images/mapaempresa.jpg" alt="nuestro mapa"> <!-- Mapa-->
            </div>  
            <p class="direccion"><strong>Avenida Gran via numero 42 de Madrid</strong></p>  
        </section>
    </main>
   <footer> <!--Pie de pagina-->
        <div class="piedepagina">
            <p>Siguenos en:</p>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"> <!--Enlace icono Facebook-->
                <img class="logo" src="../assets/images/logofacebook.jpg" alt="logofacebook" width="50" height="50"></a>
            <a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener"> <!--Enlace icono instagram-->
                <img class="logo" src="../assets/images/logoinstagram.jpg" alt="logoinstagram" width="50" height="50"></a>
            <p class="pfinal"> :: Sin derechos de autor en nada a lo referente a esta web :: <br> Esta web esta realizada con fines educativos y como prueba</p> <!-- Aviso legal-->
            <p class="dirfooter">Encuentranos en: Avenida gran via nº42 de Madrid</p> <!-- Dirección empresa-->
        </div>
    </footer>
</body>
</html>