<!DOCTYPE html>
<html lang="es"> <!-- Idioma de la pagina-->
<head>
    <meta charset="UTF-8"> <!-- Metadato-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Metadato-->
    <title>Shoes For All</title> <!--Titulo de la pagina web-->
    <link rel="icon" type="image/x-icon" href="./favicon.ico"> <!--Favicon-->
    <link rel="stylesheet" href="../css/estilos.css"> <!-- Estilos CSS-->
</head> 
<body class="bodyproductos"> <!--Estructura de la pagina--> <!-- Class para fondo-->
    <header> <!-- Cabecera-->
        <h1>Shoes For All</h1> <!--Nombre de la empresa-->
        <nav class="navigationbar"> <!--Barra de navegación-->
            <ul class="navigationbarlist"> <!--Lista desordenada -->
                <li>
                    <a class="enlace" href="../index.html">Inicio</a> <!--Enlace de inicio-->
                </li>
                <li>
                    <a class="enlace" href="./presupuestos.html">Presupuestos</a> <!--Enlace presupuestos-->
                </li>
                <Li>
                    <a class="enlace active" href="#">Productos</a> <!--Enlace de productos-->
                </Li>
                <li>
                    <a class="enlace" href="./contacto.html">Contacto</a> <!--Enlace de contacto-->
                </li>
            </ul>
        </nav>
    </header>
    <main> <!--Pagina principal-->
        <section> <!--Sección principal-->
            <h2>Galeria de productos</h2> <!-- Titulo de la galeria-->
            <div class="galeria">
                <div class="imagen">
                    <img src="../assets/images/zapatillas1.jpg" alt="zapatillas1" width="200" height="200"> <!--Imagen lote 1 de zapatillas-->
                    <p>Lote 1</p> <!--Parrafo lote1-->
                </div>
                <div class="imagen">
                    <img src="../assets/images/zapatillas2.jpg" alt="zapatillas2" width="200" height="200"> <!--Imagen lote 2 de zapatillas-->
                    <p>Lote 2</p> <!--Parrafo lote2-->
                </div>
                <div class="imagen">
                    <img src="../assets/images/zapatillas3.jpg" alt="zapatillas3" width="200" height="200"> <!--Imagen lote 3 de zapatillas-->
                    <p>Lote 3</p> <!--Parrafo lote3-->
                </div>
                <div class="imagen">
                    <img src="../assets/images/zapatillas4.jpg" alt="zapatillas4" width="200" height="200"> <!--Imagen lote 4 de zapatillas-->
                    <p>Lote 4</p> <!--Parrafo lote4-->
                </div>
                <div class="imagen">
                    <img src="../assets/images/zapatillas5.jpg" alt="zapatillas5" width="200" height="200"> <!--Imagen lote 5 de zapatillas-->
                    <p>Lote 5</p> <!--Parrafo lote5-->
                </div>
                <div class="imagen">
                    <img src="../assets/images/zapatillas6.jpg" alt="zapatillas6" width="200" height="200"> <!--Imagen lote 6 de zapatillas-->
                    <p>Lote 6</p> <!--Parrafo lote6-->
                </div>
                <div class="imagen">
                    <img src="../assets/images/zapatillas7.jpg" alt="zapatillas7" width="200" height="200"> <!--Imagen lote 7 de zapatillas-->
                    <p>Lote 7</p> <!--Parrafo lote7-->
                </div>
                <div class="imagen">
                    <img src="../assets/images/zapatillas8.jpg" alt="zapatillas8" width="200" height="200"> <!--Imagen lote 8 de zapatillas-->
                    <p>Lote 8</p> <!--Parrafo lote8-->
                </div>
            </div>
        </section>
    </main>
    <footer> <!--Pie de pagina-->
        <div class="piedepagina">
            <p>Siguenos en:</p>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"> <!--Enlace icono Facebook-->
                <img class="logo" src="../assets/images/logofacebook.jpg" alt="logofacebook" width="50" height="50"></a>
            <a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener"> <!--Enlace icono instagram-->
                <img class="logo" src="../assets/images/logoinstagram.jpg" alt="logoinstagram" width="50" height="50"></a>
            <p class="pfinal"> :: Sin derechos de autor en nada a lo referente a esta web :: <br> Esta web esta realizada con fines educativos y como prueba para un examen</p> <!-- Aviso legal-->
            <p class="dirfooter">Encuentranos en: Avenida gran via nº42 de Madrid</p> <!-- Dirección empresa-->
        </div>
    </footer>
</body>
</html>